pr-161

# place the generator on top ot that file:
#
# relase -> the latest release
# latest -> the pre-release
# pr-NNNN -> a generator (artifact) for a specific PR on the generator repo
#
# The generator will be downloaded accordantly and will be used.
# A PR can only fully pass is the generator the relaease one.
# Testing generators that add new functionality or introduce breaking changes,
# using the pre-release or a PR generator can show that everything works.
#
